html {
    color: azure;
    background: #FFD700;
}
header {
    background: #000080;
}
nav, section {
    background: #FFD700;
}
footer {
    background: #000080;
}
a:link {
    color: gold;
    text-decoration-line: none;
}
a:visited {
    color: orange;
    text-decoration-line: none;
}
a:hover {
    color: white;
    text-decoration-line: underline;
}
a:active {
    color: yellow;
    text-decoration-line: underline;
}